
<h1>Change Password</h1>

<!-- Password change icin view yazmadik. urls.py da django ya ait olan hazir bir form kullandik. 
normalde admin panelde hazir bir password change sayfasi var. ama bu sayfada admin ile ilgili bilgilerde bulundugundan biz bu sayfayi kullanmak istemedik. o nedenle yeni template yaptik. eger istersek password degistikten sonra karsimiza cikan password change done sayfasinin template ini de degistirebiliriz.
 -->

<form action="" method="POST" >
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Change Password">
</form>